body {
    font-family: 'Segoe UI', sans-serif;
}

* {
    box-sizing: border-box;
}

.tron-grid {
    overflow:auto; background:black;width:500px; height:500px;
}

.tron-grid .cell {
    outline: 1px solid blue;
    overflow:hidden;
    color:white;
    float: left;
}

.tron-grid .block {
    outline: 2px solid red;
    overflow:hidden;
}